.container {
  height: 100%;
  background: rgb(0, 13, 208);
  background: linear-gradient(
    180deg,
    rgba(0, 13, 208, 1) 0%,
    rgba(39, 73, 226, 1) 17%,
    rgba(91, 203, 231, 1) 31%,
    rgba(128, 241, 227, 1) 45%,
    rgba(215, 215, 76, 1) 60%,
    rgba(181, 169, 36, 1) 72%,
    rgba(158, 133, 35, 1) 89%
  );
}

.containerQustion {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  box-sizing: border-box;
}

.qustionText {
  font-size: 50px;
  font-weight: bold;
}

.buttonSpare {
  width: 39%;
  height: 50%;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #25b845 #000 #06aa3c;
  border-radius: 6px;
  background: linear-gradient(#0cb436, #16ad11) #0b8b27;
  transition: 0.2s;
  font-weight: bold;
  font-size: 1em;
}
.buttonSpare:hover {
  background: linear-gradient(#018f0d, #37a703) #02c262;
}
.buttonSpare:active {
  background: linear-gradient(#00a10d, #03a703) #13c403;
}

.buttonDeath {
  width: 39%;
  height: 50%;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #b83625 #000 #aa1f06;
  border-radius: 6px;
  background: linear-gradient(#b43c0c, #ad1611) #8b3a0b;
  transition: 0.2s;
  font-weight: bold;
  font-size: 1em;
}
.buttonDeath:hover {
  background: linear-gradient(#8f0601, #a70e03) #c21802;
}
.buttonDeath:active {
  background: linear-gradient(#a14800, #a73f03) #c44003;
}

.containerButton {
  width: 100%;
  height: 40%;
  padding: 15px 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.containerThank {
  width: 100%;
  height: 100%;
  background: rgb(0, 13, 208);
  background: linear-gradient(
    180deg,
    rgba(0, 13, 208, 1) 0%,
    rgba(39, 73, 226, 1) 17%,
    rgba(91, 203, 231, 1) 31%,
    rgba(128, 241, 227, 1) 45%,
    rgba(215, 215, 76, 1) 60%,
    rgba(181, 169, 36, 1) 72%,
    rgba(158, 133, 35, 1) 89%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.thankText {
  font-size: 2em;
  font-weight: bold;
  color: rgb(10, 10, 10);
}

.buttonNext {
  width: 200px;
  height: 150px;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #2565b8 #000 #0611aa;
  border-radius: 6px;
  background: linear-gradient(#0c41b4, #1411ad) #0d0b8b;
  transition: 0.2s;
  font-weight: bold;
  font-size: 1em;
  margin-top: 15px;
}

.containerNextAnswer {
  width: 100%;
  height: 100%;
  background: rgb(0, 13, 208);
  background: linear-gradient(
    180deg,
    rgba(0, 13, 208, 1) 0%,
    rgba(39, 73, 226, 1) 17%,
    rgba(91, 203, 231, 1) 31%,
    rgba(128, 241, 227, 1) 45%,
    rgba(215, 215, 76, 1) 60%,
    rgba(181, 169, 36, 1) 72%,
    rgba(158, 133, 35, 1) 89%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
